<FilesMatch "\.(m3u8|ts|hl|json|png|txt|iof|htm|m3u)$">
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, OPTIONS"
    Header set Access-Control-Allow-Headers "origin, x-requested-with, content-type"
</FilesMatch>

<Files "video.key">
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET"
    Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"
</Files>



Options -Indexes
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^https://(www\.)?kietvo.xyz(/)?.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://(www\.)?edu.iof.vn(/)?.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://(www\.)?cdn.iof.vn(/)?.*$      [NC]
RewriteRule .*\.(mp4|m3u8|hl|key|ts|json|txt)$ https://xabuon.com/uploads1/news/10-2408-1545728194gif.gif
